<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Password Visualisation</title>
  <meta name="description" content="Paracoord Password Visualisation">
  <meta name="author" content="Gary Read">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/d3.js') }}"> </script>
  <script src="{{ url_for('static', filename='js/date.js') }}"> </script>
  <script src="{{ url_for('static', filename='js/utilities.js') }}"> </script>

  <script src="{{ url_for('static', filename='js/userConfig.js') }}"> </script>
  <script src="{{ url_for('static', filename='js/defaultConfig.js') }}"> </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="{{ url_for('static', filename='js/heatmap.js') }}"> </script>
  <script src="{{ url_for('static', filename='js/heatmap_ui.js') }}"> </script>
  <script src="{{ url_for('static', filename='js/paracoord_ui.js') }}"> </script>

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body onload="main()">

</body>

</html>